<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="ChatRoom" id="chatroom_rm">
		<id property="chatRoomNo" column="CHAT_ROOM_NO"/>
 		<result property="status" column="STATUS"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="memberName" column="MEMBER_NM"/>
 		<result property="boardNo" column="BOARD_NO"/>
 		<result property="boardTitle" column="BOARD_TITLE"/>
	</resultMap>
	
	<resultMap type="ChatAlarm" id="chatalarm_rm">
		<id property="alarmNo" column="CA_NO"/>
 		<result property="alarmMessage" column="ALARM_MESSAGE"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="alarmStatus" column="ALARM_STATUS"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="chatRoomNo" column="CHAT_ROOM_NO"/>
	</resultMap>
	
	<resultMap type="ChatMessage" id="chatmessage_rm">
		<id property="cmNo" column="CM_NO"/>
 		<result property="message" column="MESSAGE"/>
 		<result property="chatRoomNo" column="CHAT_ROOM_NO"/>
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="memberName" column="MEMBER_NM"/>
 		<result property="createDate" column="CREATE_DT"/>
	</resultMap>
	
	

	<!-- 채팅방 목록 조회 -->
	<select id="chatRoomList" parameterType="_int"  resultMap="chatroom_rm">
        SELECT A.CHAT_ROOM_NO, B.BOARD_NO , C.MEMBER_NM, D.BOARD_TITLE
        FROM CHAT_ROOM_JOIN A
        JOIN CHAT_ROOM B ON (A.CHAT_ROOM_NO = B.CHAT_ROOM_NO) 
        JOIN MEMBER C ON (A.MEMBER_NO = C.MEMBER_NO)
        JOIN BOARD D ON(B.BOARD_NO = D.BOARD_NO)
		WHERE A.CHAT_ROOM_NO IN (
                                SELECT CHAT_ROOM_NO
		                        FROM CHAT_ROOM_JOIN 
		                        WHERE MEMBER_NO = #{memberNo})
        AND A.MEMBER_NO != #{memberNo}
	</select>
	
	<!-- 채팅방 개설 -->
	<insert id="openChatRoom" parameterType="ChatRoom" useGeneratedKeys="true">
		<selectKey keyProperty="chatRoomNo" resultType="_int" order="BEFORE">
			SELECT SEQ_CR_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CHAT_ROOM VALUES(
			#{chatRoomNo}, 'Y', #{memberNo}, #{boardNo}	
		)
	</insert>
	
	<!-- 개설된 채팅방에 게시글 등록자 참여자로 추가  -->
	<insert id="chatJoin" parameterType="ChatRoomJoin">
		INSERT INTO CHAT_ROOM_JOIN VALUES(
			#{memberNo}	, #{chatRoomNo} 
		)
	</insert>
	
	<!-- 채팅방 개설 알림 테이블 삽입 -->
	<insert id="alarmInsert" parameterType="ChatAlarm">
		INSERT INTO CHAT_ALARM VALUES(
			SEQ_CA_NO.NEXTVAL, #{alarmMessage}, DEFAULT, #{memberNo}, #{chatRoomNo}
		)
	</insert>
	
	<!-- 확인 안한 알람 리스트 조회 -->
	<select id="selectAlarm" parameterType="_int" resultMap="chatalarm_rm">
		SELECT * FROM CHAT_ALARM
		WHERE ALARM_STATUS = 'N'
		AND MEMBER_NO = #{memberNo}
	</select>

	<!-- 해당 채팅방 참여 시 채팅 메세지 조회 -->
	<select id="joinChatRoom" parameterType="_int" resultMap="chatmessage_rm">
		SELECT MESSAGE, MEMBER_NO, MEMBER_NM, CHAT_ROOM_NO, CREATE_DT 
		FROM CHAT_MESSAGE
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
	</select>
	
	<!-- 채팅 상대 이름 조회 -->
	<select id="selectChatWith" parameterType="ChatRoomJoin" resultType="string">
		SELECT MEMBER_NM FROM CHAT_ROOM_JOIN
		JOIN MEMBER USING(MEMBER_NO)
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
		AND MEMBER_NO != #{memberNo}
	</select>
	
	<!-- 채팅 메세지 삽입 -->
	<insert id="insertMessage" parameterType="ChatMessage">
		INSERT INTO CHAT_MESSAGE VALUES(
			SEQ_CM_NO.NEXTVAL, #{message}, DEFAULT, #{memberNo}, #{chatRoomNo}
		)
	</insert>
	
	<!-- 알림 확인 상태 변경 -->
	<update id="updateAlarmStatus" parameterType="_int">
		UPDATE CHAT_ALARM SET
		ALARM_STATUS = 'Y'
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
	</update>
</mapper>
