<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
	
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPw" column="MEMBER_PW"/>
 		<result property="memberName" column="MEMBER_NM"/>
 		<result property="memberPhone" column="MEMBER_PHONE"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="memberAddress" column="MEMBER_ADDR"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="memberStatus" column="MEMBER_STATUS"/>
 		<result property="memberGrade" column="MEMBER_GRADE"/>	 
 		<result property="memberPoint" column="MEMBER_POINT"/>	 
 		<result property="memberIntroduce" column="MEMBER_INTRODUCE"/>	 
	 </resultMap>
	 
	 <!-- 로그인   -->
	 <select id="login" parameterType="string" resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{memberId}
	</select>
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member" >
		INSERT INTO MEMBER VALUES
		(SEQ_MEM.NEXTVAL, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, #{memberAddress},
		DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
  	</insert>
  	
  	<!-- 아이디 중복 검사 -->
  	<select id="idDupCheck"  parameterType="string"  resultType="_int" >
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
		AND MEMBER_ID = #{id}
  	</select>
  	
  	<!-- 아이디 찾기 -->
  	<select id="findId" parameterType="string"  resultType="_int" >>
  		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_STATUS = 'Y'
        AND MEMBER_NM = #{memberName}
		AND MEMBER_EMAIL = #{memberEmail}
  	</select>
  	
  	<!-- 회원 정보 수정 -->
  	<update id="updateMember"  parameterType="Member">
  		UPDATE MEMBER SET
  		MEMBER_EMAIL = #{memberEmail},
  		MEMBER_PHONE = #{memberPhone},
  		MEMBER_ADDR = #{memberAddress}
  		WHERE MEMBER_NO = #{memberNo}
  	</update>
  	
  	 <!-- 소개 작성 및 수정 -->
	 <update id="updateIntroduce" parameterType="Member">
		UPDATE MEMBER SET
		MEMBER_INTRODUCE = #{memberIntroduce}
		WHERE MEMBER_NO = #{memberNo}      
	 </update>
	 
	 <!-- 소개 삭제 -->
	 <update id="deleteIntroduce" parameterType="_int">
		UPDATE MEMBER SET
		MEMBER_INTRODUCE = NULL
		WHERE MEMBER_NO = #{memberNo} 
	 </update>


</mapper>