<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
<!-- Pagination ResultMap -->
  <resultMap type="NoticePagination" id="npg_rm">
  	<result property="listCount" column="CNT"/>
  </resultMap>
  
 <resultMap type="Member" id="member_rm">
	<id property="memberNo" column="MEMBER_NO"/>
	<result property="memberId" column="MEMBER_ID"/>
	<result property="memberPw" column="MEMBER_PW"/>
 	<result property="memberName" column="MEMBER_NM"/>
 	<result property="memberPhone" column="MEMBER_PHONE"/>
 	<result property="memberEmail" column="MEMBER_EMAIL"/>
 	<result property="memberAddress" column="MEMBER_ADDR"/>
 	<result property="enrollDate" column="ENROLL_DATE"/>
 	<result property="memberStatus" column="MEMBER_STATUS"/>
 	<result property="memberGrade" column="MEMBER_GRADE"/>	 
 	<result property="memberPoint" column="MEMBER_POINT"/>	 
 	<result property="memberIntroduce" column="MEMBER_INTRODUCE"/>	 
 </resultMap>

<!-- Notice 목록조회, 상세조회용 ResultMap -->
  <resultMap type="Notice" id="notice_rm">
  	<id property="noticeNo" column="NOTICE_NO"/>
  	<result property="noticeTitle" column="NOTICE_TITLE"/>
  	<result property="noticeContent" column="NOTICE_CONTENT"/>
  	<result property="noticeStatus" column="NOTICE_STATUS"/>
  	<result property="createDt" column="CREATE_DT"/>
  	<result property="memberNo" column="MEMBER_NO"/>
  	<collection property="mem" resultMap="member_rm"/>
  </resultMap>
  
  <!-- 전체게시글수 조회  -->
  <select id="getListCount" resultMap="npg_rm">
  	SELECT COUNT(*) CNT
  	FROM NOTICE_LIST
  	WHERE NOTICE_STATUS = 'Y'
  </select>
  
  <!-- 검색한 게시글수 조회 -->
  <select id="getSearchListCount" parameterType="NoticeSearch" resultMap="npg_rm">
  	SELECT COUNT(*) CNT
  	FROM NOTICE_LIST
  	WHERE NOTICE_STATUS = 'Y'
  	<if test="sv != null">
			AND 
			
			<!-- bind 태그 : 변수 선언 -->
			<bind name="val" value="'%' + sv + '%'"/>
			
			<!-- sk에 따라서 조건절을 선택함(title, content, titcont, writer) -->
			<choose>
			
				<when test="sk == 'title'" >
					NOTICE_TITLE LIKE #{val}
				</when>
				<when test="sk == 'content'" >
					NOTICE_CONTENT LIKE #{val}
				</when>
				<when test="sk == 'titcont'" >
					( NOTICE_TITLE LIKE #{val} OR NOTICE_CONTENT LIKE #{val} )
				</when>
				<when test="sk == 'writer'" >
					MEMBER_ID LIKE #{val}
				</when>
			
			</choose>
		</if> 
  </select>
  
  <!-- 전체게시글 목록 -->
  <select id="selectNoticeList" parameterType="NoticePagination" resultMap="notice_rm">
  	SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_STATUS, CREATE_DT,
		MEMBER_NO, MEMBER_ID
		FROM NOTICE
	JOIN MEMBER USING(MEMBER_NO)
	ORDER BY NOTICE_NO DESC
  </select>
  
  <!-- 검색한 게시글목록 -->
   <select id="selectSearchList" parameterType="NoticeSearch" resultMap="notice_rm">
  	SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_STATUS, CREATE_DT,
		MEMBER_NO, MEMBER_ID
		FROM NOTICE
	JOIN MEMBER USING(MEMBER_NO)
	WHERE NOTICE_STATUS = 'Y'
	<if test="sv != null">
			AND 
			
			<!-- bind 태그 : 변수 선언 -->
			<bind name="val" value="'%' + sv + '%'"/>
			
			<!-- sk에 따라서 조건절을 선택함(title, content, titcont, writer) -->
			<choose>
			
				<when test="sk == 'title'" >
					NOTICE_TITLE LIKE #{val}
				</when>
				<when test="sk == 'content'" >
					NOTICE_CONTENT LIKE #{val}
				</when>
				<when test="sk == 'titcont'" >
					( NOTICE_TITLE LIKE #{val} OR NOTICE_CONTENT LIKE #{val} )
				</when>
				<when test="sk == 'writer'" >
					MEMBER_ID LIKE #{val}
				</when>
			
			</choose>
		</if> 
	ORDER BY NOTICE_NO DESC
  </select>
  
  
  <!-- 게시글상세조회 -->
  <select id="selectNotice" parameterType="_int" resultMap="notice_rm">
  	SELECT NOTICE_NO,NOTICE_TITLE, NOTICE_CONTENT, NOTICE_STATUS,
         	CREATE_DT, MEMBER_NO, MEMBER_ID
	FROM NOTICE
	JOIN MEMBER USING(MEMBER_NO)
	WHERE NOTICE_NO = #{noticeNo}
	AND NOTICE_STATUS = 'Y'
  </select>
  
  <!-- 게시글 삽입 -->
  <insert id="insertNotice" parameterType="Notice" useGeneratedKeys="true">
	<selectKey keyProperty="noticeNo" resultType="_int" order="BEFORE" >
		SELECT SEQ_TNO.NEXTVAL FROM DUAL
	</selectKey>
		
	INSERT INTO NOTICE VALUES 
	(#{noticeNo}, #{noticeTitle},#{noticeContent},DEFAULT, DEFAULT,#{memberNo})
	</insert>
	

	
	<!-- 게시글수정 -->
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE SET
		NOTICE_TITLE =#{noticeTitle},
		NOTICE_CONTENT =#{noticeContent},
		CREATE_DT = SYSTIMESTAMP
		WHERE NOTICE_NO =#{noticeNo}
	</update>
	
	
	<update id="delete" parameterType="_int">
		UPDATE NOTICE SET
		NOTICE_STATUS = 'N'
		WHERE NOTICE_NO = #{noticeNo}
	</update>
  
</mapper>
