<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>
	<typeAlias type="edu.kh.job.member.model.vo.Member" alias="Member" />
	<typeAlias type="edu.kh.job.board.model.vo.Board" alias="Board" />

	<typeAlias type="edu.kh.job.notice.model.vo.Notice" alias="Notice" />
	<typeAlias type="edu.kh.job.notice.model.vo.Pagination" alias="NoticePagination" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Qusetions" alias="Qusetions" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Pagination" alias="QusetionsPagination" />


	


	</typeAliases>
	
	<!-- mapper -->
	<mappers>
	<mapper resource="/mappers/member-mapper.xml" />
	<mapper resource="/mappers/board-mapper.xml" />
	<mapper resource="/mappers/notice-mapper.xml" />
	<mapper resource="/mappers/qusetions-mapper.xml" />
	
	</mappers>
</configuration>