<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 -->
	<typeAliases>
	<typeAlias type="edu.kh.job.member.model.vo.Member" alias="Member" />
	<typeAlias type="edu.kh.job.member.model.vo.Pagination" alias="MemberPagination" />
	<typeAlias type="edu.kh.job.member.model.vo.Pagination2" alias="MemberPagination2" />
	<typeAlias type="edu.kh.job.member.model.vo.Pagination3" alias="MemberPagination3" />
	<typeAlias type="edu.kh.job.member.model.vo.Progress" alias="Progress" />
	<typeAlias type="edu.kh.job.member.model.vo.Board" alias="MemberBoard" />
	<typeAlias type="edu.kh.job.member.model.vo.Import" alias="Import" />
	
	<typeAlias type="edu.kh.job.board.model.vo.Board" alias="Board" />
	<typeAlias type="edu.kh.job.board.model.vo.Category" alias="Category" />
	<typeAlias type="edu.kh.job.board.model.vo.BoardProgress" alias="BoardProgress" />
	
	<typeAlias type="edu.kh.job.chat.model.vo.ChatMessage" alias="ChatMessage" />
	<typeAlias type="edu.kh.job.chat.model.vo.ChatRoom" alias="ChatRoom" />
	<typeAlias type="edu.kh.job.chat.model.vo.ChatRoomJoin" alias="ChatRoomJoin" />
	<typeAlias type="edu.kh.job.chat.model.vo.ChatAlarm" alias="ChatAlarm" />

	<typeAlias type="edu.kh.job.notice.model.vo.Notice" alias="Notice" />
	<typeAlias type="edu.kh.job.notice.model.vo.Pagination" alias="NoticePagination" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Qusetions" alias="Qusetions" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Pagination" alias="QusetionsPagination" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Reply" alias="Reply" />
	<typeAlias type="edu.kh.job.notice.model.vo.Search" alias="NoticeSearch" />
	<typeAlias type="edu.kh.job.qusetions.model.vo.Search" alias="QusetionsSearch" />
	<typeAlias type="edu.kh.job.report.model.vo.Report" alias="Report" />
	<typeAlias type="edu.kh.job.report.model.vo.ReportCategory" alias="ReportCategory" />
	<typeAlias type="edu.kh.job.report.model.vo.Pagination" alias="ReportPagination" />
	<typeAlias type="edu.kh.job.report.model.vo.Search" alias="ReportSearch" />
	<typeAlias type="edu.kh.job.report.model.vo.ReportFile" alias="ReportFile" />
	<typeAlias type="edu.kh.job.gps.model.vo.Board" alias="gpsBoad" />

	<typeAlias type="edu.kh.job.board.model.vo.Pagination" alias="Pagination" />
	


	</typeAliases>
	
	<!-- mapper -->
	<mappers>
	<mapper resource="/mappers/member-mapper.xml" />
	<mapper resource="/mappers/board-mapper.xml" />
	<mapper resource="/mappers/notice-mapper.xml" />
	<mapper resource="/mappers/qusetions-mapper.xml" />
	<mapper resource="/mappers/report-mapper.xml" />
	<mapper resource="/mappers/reply-mapper.xml" />
	<mapper resource="/mappers/chat-mapper.xml" />
	<mapper resource="/mappers/gps-mapper.xml" />
	</mappers>
</configuration>